body {
    color: rgb(233, 16, 16);
    background: rgb(48, 30, 150);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}
